<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" th:href="@{css/font-awesome.min.css}">
    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" th:href="@{css/elegant-fonts.css}">
    <!-- themify-icons CSS -->
    <link rel="stylesheet" th:href="@{css/themify-icons.css}">
    <!-- Swiper CSS -->
    <link rel="stylesheet" th:href="@{css/swiper.min.css}">
    <!-- Styles -->
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" href="/css/toastr.css">
</head>
<body>
<div class="blog-page">
    <header class="site-header">
        <div class="nav-bar" id="floatbar">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-lg-9 flex justify-content-end align-content-center">
                        <nav class="site-navigation flex justify-content-end align-items-center">
                            <ul class="flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li><a href="/index" style="color: black">首页</a></li>
                                <li><a href="/conference/search" style="color: black">查询会议</a></li>
                                <li><a href="/conference/add" style="color: black">添加会议</a></li>
                                <li><a href="/aboutUs" style="color: black">关于我们</a></li>
                            </ul>
                        </nav><!-- .site-navigation -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div  ><!-- .nav-bar -->
    </header><!-- .site-header -->
    <div class="container p-5 mt-3 mb-3">
        <!-- 修改密码 -->
        <h6 class="text-left text-info border-bottom pb-2 mt-5">找回密码</h6>
        <form class="mt-5" th:action="@{/forget}" method="post">
            <div class="form-group row mt-4">
                <!--                坑点：  这里的label for属性不能缺失-->
                <label for="email" class="col-sm-2 col-form-label text-right">注册邮箱:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="email" name="email" placeholder="请输入注册时的邮箱!" required>
                    <div class="invalid-feedback">
                        该邮箱未被注册!
                    </div>
                    <br>
                    <div class="col-sm-4 text-center">
                        <input type="button" class="btn btn-info text-white form-control send-btn">
                    </div>
                </div>
            </div>
            <div class="form-group row mt-4">
                <label for="verification" class="col-sm-2 col-form-label text-right">邮箱验证码:</label>
                <div class="col-sm-10">
                    <input type="text" th:class="|form-control ${codeMsg!=null?'is-invalid':''}|" id="verification" name="verification" placeholder="请输入收到的验证码!" required>
                    <div class="invalid-feedback" th:text="${codeMsg}">
                        验证码不正确
                    </div>
                </div>
            </div>
            <div class="form-group row mt-4">
                <label for="password" class="col-sm-2 col-form-label text-right">新密码:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password" placeholder="请输入新的密码!" required>
                    <div class="invalid-feedback">
                        密码长度不能小于8位!
                    </div>
                </div>
            </div>
            <div class="form-group row mt-4">
                <label for="confirm-password" class="col-sm-2 col-form-label text-right">确认密码:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="confirm-password" placeholder="再次输入新密码!" required>
                    <div class="invalid-feedback">
                        两次输入的密码不一致!
                    </div>
                </div>
            </div>
            <div class="form-group row mt-4">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 text-center">
                    <button type="submit" class="btn btn-info text-white form-control">找回密码</button>
                </div>
            </div>
        </form>
    </div>
</div>


<footer class="site-footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="foot-about">
                        <a class="foot-logo" href="#"><img src="/images/hit.jpg" alt=""></a>

                        <h5>学术日历与地图 </h5>

                        <p class="footer-copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div><!-- .foot-about -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <div class="foot-contact">
                        <h2>联系方式</h2>

                        <ul>
                            <li>Email: sjy1933794630@gmail.com</li>
                            <li>Address: 哈尔滨工业大学(威海)</li>
                        </ul>
                    </div><!-- .foot-contact -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
                    <div class="quick-links flex flex-wrap">
                        <h2 class="w-100">快速链接</h2>

                        <ul class="w-50">
                            <li><a href="#">回到顶部 </a></li>
                            <li><a href="/aboutUs">关于我们 </a></li>
                            <li><a href="https://www.hitwh.edu.cn/">哈尔滨工业大学(威海) </a></li>
                            <li><a href="https://www.aminer.cn/">Aminer</a></li>
                        </ul>

                    </div><!-- .quick-links -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
                    <div class="follow-us">
                        <h2>项目地址</h2>

                        <ul class="follow-us flex flex-wrap align-items-center">
                            <li><a href="https://github.com/SoftwareEngineeringProJ/Academic-Calendar-Map"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div><!-- .quick-links -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-widgets -->

</footer><!-- .site-footer -->



<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="/js/toastr.min.js"></script>
<script type="text/javascript">
    toastr.options = {
        positionClass: "toast-center-center"
    }
</script>
<!-- 坑点  jquey库的兼容性！  -->
<script>
    $(function () {
        $(".send-btn").val("向邮箱发送验证码");
        $(".send-btn").click(sendMail);
        $("form").submit(check_data);
    });
    function sendMail() {
        var btn = this;
        $.post(
            "/send/forget",
            {"email": $("#email").val()},
            function (data) {
                data = $.parseJSON(data);
                if (data.code === 0) {
                    toastr.success("发送邮件成功", "已经向您的邮箱发送了验证码，请查收");
                } else {
                    toastr.error("发送邮件失败","该邮箱未注册，请检查后重试");
                }
            }
        );
        var b = $(".send-btn");
        time(b);
    }
    var count = 60;
    function time(btn) {
        if (count === 0) {
            btn.attr("disabled", false);
            btn.val("向邮箱发送验证码");
            count = 60;
        } else {
            btn.attr("disabled", true);
            btn.val(count + "秒后重新发送");
            count--;
            setTimeout(function() {   //设置一个定时器，每秒刷新一次
                time(btn);
            },1000);
        }
    }

    function check_data() {
        var pwd1 = $("#password").val();
        var pwd2 = $("#confirm-password").val();
        if(pwd1 != pwd2) {
            $("#confirm-password").addClass("is-invalid");
            return false;
        }
        return true;
    }
</script>
</body>
</html>